:root {
    --bg-color:  hsl(212, 45%, 89%);
    --icon-blue: hsl(216, 95%, 58%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}
.container{
    diplay: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    background-color : white;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
